:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  width: 100%;
}

h1,
.pt-4,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 100px !important;
}

h2 {
  font-size: 48px;
  text-align: left;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 60px;
  justify-content: center;
}

.purpbtn {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.yoga-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.yogurt-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.weather-app {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
